<div class="test" style="display:inline-block;width:250px;height:500px;overflow:auto;">
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
  <p>partials/page2.html .test div</p>
</div>

<a ui-sref="page1" style="display:block;margin-top:50px;">Page 1</a>
